{% extends 'common.html' %}

{% block body%}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
         <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span><a href="course.html">Courses</a><i class="fa fa-chevron-right"></i></a></span> <span><a href="course.html">Coach Details</a><i class="fa fa-chevron-right"></i></a></span> <span>Appointment<i class="fa fa-chevron-right"></i></a></span></p>
         <h1 class="mb-0 bread">Appointment</h1>
       </div>
     </div>
   </div>
</section>

<section class="ftco-section ftco-resbody">
    <div class="container">
        <form action="">
            <div>
                <input type="text" data-provide="datepicker">
            </div>
            <div>
                <select id=""></select>
            </div>
            <div>
                <button type="submit" class="btn btn-primary submit">Make Appointment</button>
            </div>
        </form>
    </div>
</section>

{%endblock%}